.product {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 30px;
    margin-top: 20px;
}
.search {
    display: flex;
}

.search input {
    width: 250px;
    height: 40px;
    padding-left: 12px;
    border: 1px solid #ddd;
}

.search button {
    width: 75px;
    height: 40px;
    background-color: #1a1a1a;
    color: white;
    border: none;
    border-radius: 0 6px 6px 0;
}
.photos {
    display: flex;
    gap:20px;
}
.photo {
    width: 50%;
    height: 540px;
    background-color: #d9d9d9;
}
.info h1 {
    font-size: 30px;
    margin-bottom: 10px;
}
.colour {
    display: flex;
    gap:8px;
    margin-bottom: 12px;
}
.white, .gray, .black {
    width: 35px;
    height: 35px;
    border:1px solid gray;
}
.white {
    background-color: white;
}
.gray {
    background-color: gray;
}
.black {
    background-color: black;
}
.size {
    display: flex;
    gap: 8px;
}
.size button {
    width: 55px;
    height: 40px;
    border: 1px solid gray;
}
.selected{
    background-color: black;
    color: white;
}
.basket {
    display:flex;
    gap: 8px;
    margin-top: 18px;
}
.delivery {
    margin:5px 0;
    padding: 5px 0;
    font-size: 15px;
}
.price {
    font-size: 20px;
}
.site-footer {
    background-color: #1a1a1a;
    color: #d2b47a;
    font-size: 0.85rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
@media (max-width: 768px) {
    .product {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 480px) {
    .product {
        flex-direction: column;
    }
    .photo {
        width: 100%;
    }
}